In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *

# warehouse_location points to the default location for managed databases and tables
warehouse = 'hdfs://hdfs-nn:9000/warehouse'

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration example") \
    .config("spark.sql.warehouse.dir", warehouse) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:2.4.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [2]:
spark.sql(
    """
    DROP TABLE IF EXISTS database.WageOwnGold
    """
)

DataFrame[]

In [3]:
spark.sql(
    """
    CREATE EXTERNAL TABLE database.WageOwnGold (
        nome_pais varchar(30),
        nome_indicador varchar (200),
        ano int,
        valor float
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/Projeto/gold/TabelaWageOwnGold'
    """
)

DataFrame[]

In [4]:
spark.sql(
    """
    SELECT * FROM database.WageOwnGold
    """
).show()

+---------+--------------+---+-----+
|nome_pais|nome_indicador|ano|valor|
+---------+--------------+---+-----+
+---------+--------------+---+-----+

In [5]:
spark.stop()