In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *

# warehouse_location points to the default location for managed databases and tables
warehouse = 'hdfs://hdfs-nn:9000/warehouse'

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration example") \
    .config("spark.sql.warehouse.dir", warehouse) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:2.4.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [2]:
spark.sql(
    """
    SHOW DATABASES
    """
).show()

+---------+
|namespace|
+---------+
| database|
|database2|
|  default|
+---------+

In [3]:
spark.sql(
    """
    SHOW TABLES FROM database2
    """
).show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|database2|   gender|      false|
|database2|     jobs|      false|
+---------+---------+-----------+

In [4]:
spark.sql(
    """
    DROP TABLE IF EXISTS database2.jobsGold
    """
)

DataFrame[]

In [5]:
spark.sql(
    """
    CREATE EXTERNAL TABLE database2.jobsGold (
        pais_name varchar(50),    
        ano int,
        valor float,
        valorI int
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/Projeto/gold/TabelaContaPropria'
    """
)

DataFrame[]

In [6]:
spark.sql(
    """
    SELECT * FROM database2.jobsGold
    """
).show()

+---------+---+-----+------+
|pais_name|ano|valor|valorI|
+---------+---+-----+------+
+---------+---+-----+------+

In [7]:
spark.stop()