In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType, FloatType
from pyspark.sql.functions import expr, array, col, explode, arrays_zip, lit, avg, when, broadcast

# warehouse_location points to the default location for managed databases and tables
warehouse = 'hdfs://hdfs-nn:9000/warehouse'

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration example") \
    .config("spark.sql.warehouse.dir", warehouse) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:2.4.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [2]:
gender_df = spark.table("database.gender")
popu_df = spark.table("database.population")

gender_df = gender_df.filter(col("nome_indicador").like("%Unemployment with advanced%"))
gender_df = gender_df.drop(col("cod_pais"), col("cod_indicador"))
gender_df = gender_df.withColumnRenamed("nome_pais", "pais_name")
gender_df = gender_df.withColumnRenamed("nome_indicador", "indicador_name")

popu_df = popu_df.filter(col("cod_indicador").like("%SP.POP.TOTL%"))
popu_df = popu_df.drop(col("cod_pais"), col("cod_indicador"), col("nome_indicador"), col("Country_name"), col("Country_code"), col("Indicator_name"), col("Indicator_code"))
popu_df = popu_df.withColumnRenamed("valor", "valorI")
popu_df = popu_df.withColumnRenamed("nome_pais", "pais_name")
popu_df = popu_df.withColumn("ano", col("ano").cast(IntegerType()))

In [3]:
paises = ["%Liechtenstein%", "%Germany%", "%Denmark%", "%Switzerland%", "%Poland%", "%Czech%", 
          "%Slovakia%", "%Slovenia%", "%Hungary%", "%Austria%"]
anos = ["2010", "2011", "2012", "2013", "2014", "2015"]

gender_df = gender_df.filter(
    col("pais_name").like(paises[0]) |
    col("pais_name").like(paises[1]) |
    col("pais_name").like(paises[2]) |
    col("pais_name").like(paises[3])
).filter(
    col("ano").isin(anos) &
    col("valor").isNotNull()
)

popu_df = popu_df.filter(
    col("pais_name").like(paises[0]) |
    col("pais_name").like(paises[1]) |
    col("pais_name").like(paises[2]) |
    col("pais_name").like(paises[3])
).filter(
    col("ano").isin(anos) &
    col("valorI").isNotNull()
)

In [4]:
literacia_df = gender_df.join(popu_df, ["pais_name", "ano"], "left")
literacia_df = literacia_df.withColumn("valorI", ((col("valor") / 100) * (col("valorI") / 2)).cast("int"))
literacia_df = literacia_df.withColumnRenamed("pais_name", "paises")

In [5]:
literacia_df = literacia_df.withColumn("genero",
    when(col("indicador_name").like("% female%"), "F")
    .when(col("indicador_name").like("% male%"), "M")
)

literacia_df = literacia_df.filter(col("genero").isNotNull())

literacia_df = literacia_df.drop(col("indicador_name"))

In [6]:
literacia_df \
    .write \
    .format("delta") \
    .mode("overwrite") \
    .save("hdfs://hdfs-nn:9000/Projeto/gold/TabelaEnrolmentT/")

In [7]:
spark.sql(
    """
    SELECT * FROM database.EnrolmentTGold
    """
).toPandas()

         paises   ano  valor   valorI genero
0       Denmark  2010   4.46   123713      F
1       Denmark  2011   5.39   150126      F
2       Denmark  2012   5.27   147337      F
3       Denmark  2013   4.76   133635      F
4       Denmark  2014   5.04   142215      F
5       Denmark  2015   4.99   141802      F
6       Denmark  2010   4.96   137582      M
7       Denmark  2011   4.68   130351      M
8       Denmark  2012   4.47   124971      M
9       Denmark  2013   4.57   128301      M
10      Denmark  2014   4.46   125849      M
11      Denmark  2015   4.16   118216      M
12      Germany  2010   3.24  1324786      F
13      Germany  2011   2.66  1067657      F
14      Germany  2012   2.60  1045535      F
15      Germany  2013   2.59  1044360      F
16      Germany  2014   2.75  1113509      F
17      Germany  2015   2.54  1037419      F
18      Germany  2010   2.86  1169410      M
19      Germany  2011   2.16   866969      M
20      Germany  2012   2.09   840449      M
21      Germany  2013   2.16   870972      M
22      Germany  2014   2.27   919151      M
23      Germany  2015   2.17   886299      M
24  Switzerland  2010   3.37   131849      F
25  Switzerland  2011   3.98   157456      F
26  Switzerland  2012   3.59   143543      F
27  Switzerland  2013   3.75   151675      F
28  Switzerland  2014   3.79   155174      F
29  Switzerland  2015   3.79   156951      F
30  Switzerland  2010   2.71   106027      M
31  Switzerland  2011   2.41    95344      M
32  Switzerland  2012   2.70   107957      M
33  Switzerland  2013   3.02   122149      M
34  Switzerland  2014   3.31   135522      M
35  Switzerland  2015   3.60   149083      M

In [8]:
spark.stop()